/* variabler*/
html {
  --primary-clr: #53ff8e;
  --secondary-clr: #3a4c93;
  --neutral-clr: #fff;
}

/* Til Mobil */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-active {
  color: var(--secondary-clr);
}
h1,
h2,
h3,
h5,
p,
a {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
  align-self: stretch;
  object-fit: cover;
}
body {
  max-width: 1400px;
  margin: 0 auto;
}

.bodyimg {
  background-image: url(billeder/Baggrund.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 17%;
}

header {
  position: sticky;
  display: flex;
  align-items: center;

  padding: 1rem 2rem;
}

.logo {
  width: 30%;
  margin-right: auto;
}
ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

footer {
  background-color: rgba(0, 0, 0, 0.527);
}
footer p {
  color: var(--neutral-clr);
}
main {
  min-height: 100vh;
}
h1 {
  color: var(--primary-clr);
  font-size: 1.5rem;
}
h2 {
  color: var(--neutral-clr);
  font-size: 1.2rem;
}
.porth2 {
  color: var(--primary-clr);
}

h3 {
  color: var(--neutral-clr);
}
.overskrift1 {
  margin: 5rem 0 0 1rem;
}
.ned {
  margin-bottom: -3.5%;
}

ul {
  list-style: none;
}
ul a {
  position: relative;
  text-decoration: none;

  color: var(--neutral-clr);
  font-weight: bold;

  font-size: large;
}
ul a:hover {
  color: var(--secondary-clr);
  transition: 0.2s ease-in-out;
  transform-origin: left;
}
ul a:after {
  content: "";
  position: absolute;
  background-color: #3a4c93;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in;
}
ul a:hover:after {
  transform: scaleX(1);

  transform-origin: left;
}

/* til Tablet*/
@media (min-width: 600px) {
  .logo {
    width: 10%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .ned {
    margin-bottom: -1.1rem;
  }
  ul a {
    margin-inline-start: 6rem;
  }
  .overskrift1 {
    margin-top: 10rem;
  }
  .container {
    place-items: center;
    background-color: transparent;
  }
}
/* Til Desktop */
@media (min-width: 850px) {
  .ned {
    margin-bottom: -1.2rem;
    grid-column: 2;
    grid-row: 1/3;
  }
  ul a {
    margin-inline-start: 12rem;
    font-size: larger;
  }
  .container {
    background-color: transparent;
  }
}
