/* variabler*/
html {
  --primary-clr: #53ff8e;
  --secondary-clr: #3a4c93;
  --neutral-clr: #fff;
  --secondary-clr-fade: #3a4c93a8;
}

/* Til Mobil */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-active {
  color: var(--secondary-clr);
}
h1,
h2,
h3,
h5,
p,
a {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
  align-self: stretch;
  object-fit: cover;
}
body {
  max-width: 1400px;
  margin: 0 auto;
}

.bodyimg {
  background-image: url(billeder/baggrund_1.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 52% 0%;
}

header {
  position: sticky;
  display: flex;
  align-items: center;

  padding: 1rem 2rem;
}

.logo {
  width: 30%;
  margin-right: auto;
}
ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

footer {
  background-color: rgba(0, 0, 0, 0.527);
}
footer p {
  color: var(--neutral-clr);
}
main {
  min-height: 100vh;
}
h1 {
  color: var(--primary-clr);
  font-size: 1.5rem;
}
h2 {
  color: var(--neutral-clr);
  font-size: 1.2rem;
}
.sectionplace {
  margin: 0.5rem 1rem;
}
.porth2 {
  color: var(--primary-clr);
  margin-top: 2rem;
}
.porttext {
  color: var(--neutral-clr);
  border: solid var(--primary-clr) 1px;
  background-color: var(--secondary-clr-fade);
  margin-inline: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.outercon {
  overflow: hidden;
}
.innerscroll {
  overflow-x: scroll;
  display: flex;
  border-radius: 5%;
}
.fleximg {
  width: 500px;
  height: 250px;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: 10px;
}
.knap1 {
  margin-top: 2rem;
}

.knap1 a {
  color: var(--primary-clr);
  border: solid var(--primary-clr) 1px;
  border-radius: 0rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding-inline: 1rem;
  background-color: var(--secondary-clr-fade);
  font-weight: 600;
}
p {
  line-height: 1.6rem;
}
.porth1 {
  margin-inline: 1rem;
}
.portp {
  margin-block: 2rem;
}

h3 {
  color: var(--neutral-clr);
}
.overskrift1 {
  margin: 5rem 0 0 1rem;
}
.ned {
  width: 100%;
  height: 100;
  margin-bottom: -3.5%;
}

ul {
  list-style: none;
}
ul a {
  position: relative;
  text-decoration: none;

  color: var(--neutral-clr);
  font-weight: bold;

  font-size: large;
}
ul a:hover {
  color: var(--secondary-clr);
  transition: 0.2s ease-in-out;
  transform-origin: left;
}
ul a:after {
  content: "";
  position: absolute;
  background-color: var(--secondary-clr);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in;
}
ul a:hover:after {
  transform: scaleX(1);

  transform-origin: left;
}
video {
  width: 100%;
}
iframe {
  width: 100%;
}

/* til Tablet*/
@media (min-width: 600px) {
  .logo {
    width: 10%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .ned {
    margin-bottom: -1.1rem;
  }
  ul a {
    margin-inline-start: 6rem;
  }
  .overskrift1 {
    margin-top: 10rem;
  }
  .container {
    place-items: center;
    background-color: transparent;
  }
  .bodyimg {
    background-position: 70% 10%;
  }
}
/* Til Desktop */
@media (min-width: 850px) {
  .ned {
    margin-bottom: -1.2rem;
    grid-column: 2;
    grid-row: 1/3;
  }
  ul a {
    margin-inline-start: 12rem;
    font-size: larger;
  }
  .container {
    background-color: transparent;
  }
  .fleximg {
    width: 600px;
    height: 270px;
    margin-left: 10px;
  }

  .knap1 a {
    font-size: 1.5rem;
  }
  .knap1 a:hover {
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    transition: 0.5s;
  }
}
